
<div class="dialog-box">
  <div class="project-window">
    <div class="window-header">
      <span class="window-title ">{{data.data.title}}</span>
      <span mat-dialog-close class="close-btn">X</span>
    </div>
    <mat-dialog-content class="mat-typography">
      <div class="window-content">
        <p [innerHTML]="data.data.description"></p>
        <br>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li *ngFor="let image of data.data.carouselImages; index as i" 
                [attr.data-bs-target]="'#carouselExampleIndicators'" 
                [attr.data-bs-slide-to]="i" 
                [class.active]="i === 0"></li>
          </ol>
          <div class="carousel-inner">
            <div *ngFor="let image of data.data.carouselImages; index as i">
              <div class="carousel-item" [class.active]="i === 0">
                <img class="d-block w-100 carouselphoto" type=file [src]="image" alt="{{i+1}} slide" (click)="openModal(image)">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div>
       </div>
       <!-- Modal -->
      <div id="imageModal" class="modal" (click)="closeModal()">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
      </div>
    </mat-dialog-content>
  </div>
</div>

