/* Styling for each project window */
.project-window {
    background: #f0f0f0; /* Light background color for the window */
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow to give it a lifted look */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    position: relative;
    z-index: 5;
    margin: 5px;
}

/* Window header */
.window-header {
    background-color: var(--color-dark-purple);
    color: black;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border: 0px, solid, black;
    border-width: 0px 0px 3px 0px;

}

/* Title in the window header */
.window-title {
    font-size: 1.1em;

}

/* Close button (×) */
.close-btn {
    /* cursor: pointer; */
    font-size: 1.5em;
    font-weight: 600;
    border: 0px, solid, black;
    border-width: 0px 0px 0px 3px;
    padding-left: 10px;

}

/* Styling for the window content */
.window-content {
    padding: 15px;
    font-size: 1em;
    color: #333;
}

.window-content p {
    margin: 0; 
}

/*Border animation*/

.dialog-box {
    position: relative;
    padding: 10px;
    background-color: #40a14d; /* Fondo blanco para resaltar el borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    overflow: hidden; /* Para evitar que el borde animado sobresalga */
    z-index: 0;
  }

  .dialog-box::before {
    content: ''; /* Must be set */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, 
        var(--color-dark-transparent) 0px, 
        var(--color-dark-transparent) 8px, /* First line width */
            transparent 8px, 
            transparent 88px), 
        repeating-linear-gradient(-45deg, 
        var(--color-dark-transparent) 12px, 
        var(--color-dark-transparent) 32px, /* First line width */
            transparent 32px, 
            transparent 100px),
        repeating-linear-gradient(-45deg, 
        var(--color-dark-transparent) 15px, 
        var(--color-dark-transparent) 19px, /* First line width */
            transparent 19px, 
            transparent 201px),
        radial-gradient(var(--color-main-pinkish), var(--color-main-blueish));    
    background-size: 500% 500%; /* Para el efecto de movimiento */
    animation: moveGlow 100s linear infinite; /*Animación del brillo*/
    display: block;
    z-index: 1; /* Coloca el gradiente detrás del contenido */
  }

  .dialog-box::after {
    content: '';
    position: absolute;
    top: 4px; /* Espaciado interno para el efecto de borde */
    left: 4px;
    right: 5px;
    bottom: 5px;
    background-color: #5996b300;
    z-index: 2; /* Fondo blanco para aislar el contenido */
  }

  @keyframes moveGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

/* Estilo del contenedor del carrusel */
.carousel-item {
  height: 50%; /* La altura será el 50% del contenedor (diálogo) */
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* Necesario para ajustar las imágenes correctamente */
}

.carousel-item.active {
  display: flex; /* Solo el item activo es visible */
}

/* Estilo para las imágenes del carrusel */
.carouselphoto {
  height: 50%; /* Ocupa toda la altura del contenedor */
  width: auto; /* Ajusta la anchura automáticamente manteniendo el aspecto ratio */
  object-fit: contain; /* Contiene la imagen dentro del contenedor sin recortarla */
  border: 2vw solid var(--color-dark-purple); /* Borde de color púrpura */
  border-bottom: 4vw solid var(--color-dark-purple); /* Borde de color púrpura */
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Ajuste para el contenedor del diálogo */
.dialog-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* El diálogo ocupa el 100% de la ventana */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8); /* Black with opacity */
}

.modal-content {
  background-color: #40a14d00;
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; /* Contiene la imagen dentro del contenedor sin recortarla */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-flex {
  display: flex;
  flex-wrap: wrap; /* Permitir que las imágenes se ajusten a la siguiente línea si es necesario */
  gap: 10px; /* Espacio entre las imágenes */
}

.imageGridBorder {
  border: 1vw solid var(--color-main-blueish);
  border-bottom: 0vw solid var(--color-main-blueish);
}
.imageGridCaption {
  border: 1vw solid var(--color-main-blueish);
  border-bottom: 1vw solid var(--color-main-blueish);
  background-color: var(--color-main-blueish);
  text-align: center;
}

.imageGrid {
  border: 0.2vw solid black;
    width: calc(calc(100% / 3) - 10px); /* Tres imágenes por fila con espacio */
  height: auto; /* Mantener el aspecto ratio */
}

.imageGrid img{
  width: 100%;
  height: auto;
}