<!-- <div class="project-list">
    <div *ngFor="let project of projects" >
        <div class="project-window">
            <div class="close-btn2 window-header" (click)="openDialog(project)">
                <span class="window-title">{{project.title}}</span>
                <div class="close-btn"><mat-icon class="icon" fontIcon="zoom_in"></mat-icon></div>
                
            </div>
            <div class="window-content">
                <p [innerHTML]="project.shortdescription | newline"></p>
            </div>
        </div>
    </div>
</div> -->

<div class="project-list">
    <div *ngFor="let project of projectsEng; index as i" >
        <app-cartridge-project (click)="openDialog(project)" [gameImagePath]="project.mainImagePath" [gameTitle]="project.title"></app-cartridge-project>
    </div>
</div>