<div class="my-overlay loader" *ngIf="showOverlay">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    <p class="loader"></p>
</div>
<nav class="main-navbar navbar navbar-expand-sm ">
    <div class="container-fluid d-flex justify-content-center" id="navbarSupportedContent">
        <!-- Botón Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="btn btn-success">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="projects" routerLinkActive="btn btn-success">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="aboutMe" routerLinkActive="btn btn-success">About me</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <!-- <div>
    <button (click)="changeLanguage(Language.ES)">Spanish</button>
    <button (click)="changeLanguage(Language.EN)">English</button>
  </div> -->
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>