/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
:root{
    /* --color-main-pinkish: #fce0f0; */
    --color-main-pinkish: #f8e0f0;
    /* --color-main-blueish: #d7e7fc; */
    --color-main-blueish: #dde3f9;
    --color-purpleish: #ced0e5;
    --color-grey: #d0d0d0;
    --color-black: #0d0d0d;
    --color-dark-transparent:#0000000c;
    --color-dark-purple : #a390bd;
}

body {
  margin: 1%;
  background: 
    repeating-linear-gradient(-45deg, 
      var(--color-dark-transparent) 0px, 
      var(--color-dark-transparent) 8px, /* First line width */
      transparent 8px, 
      transparent 88px), 
    repeating-linear-gradient(-45deg, 
      var(--color-dark-transparent) 12px, 
      var(--color-dark-transparent) 32px, /* First line width */
      transparent 32px, 
      transparent 100px),
    repeating-linear-gradient(-45deg, 
      var(--color-dark-transparent) 15px, 
      var(--color-dark-transparent) 19px, /* First line width */
      transparent 19px, 
      transparent 201px),

  radial-gradient(var(--color-main-pinkish), var(--color-main-blueish)); /* Your radial gradient */
  background-repeat: repeat, repeat; /* Ensure both gradients repeat */
  background-position: center center, center center; /* Ensure correct positioning */
  background-attachment: fixed;
  height: 100%;
  background-color: #f0f0f0; /* Add a solid background color for testing */
}

