body {
    margin: 0;
    height: 100vh;  /* Ensure the body takes the full height of the screen */
    overflow: hidden;  /* Hide the overflow when the character moves out of bounds */
    position: relative;  /* Set relative positioning for the body to be the reference point for absolute positioning */
  }

.textBox{
  background-color: white;
  border: 2rem solid black;
}