
<div class="centerContent">
    <div class="project-window">
        <div *ngIf='compareLanguage(Language.EN)'  class="close-btn2 window-header">
            <span class="window-title">Home</span>
            <div class="close-btn"><mat-icon class="icon" fontIcon="zoom_in"></mat-icon></div>
        </div>
        <div class="window-content">
            <div class="centerBlock">
                <h1 class="tourney-titleFont">Welcome to my page!</h1>
                <p>Along these pages, you will find a compilation of some of my previous works.</p>
            </div>
        </div>
    </div>
</div>

<div class="coverImage">
    <img src="assets/Images/CoverImage.PNG"/>
</div>

<app-character></app-character>
