<div class="container text-center mt-4">
    <div class="speech-bubble">
      <p>Welcome to my page!</p>
    </div>
  </div>
<div class="container text-center mt-4">
    <div class="speech-bubble">
        <p> 
            My name is Marta, and I studied Software Engineering. Wanting to specialize in video games, I decided to pursue a Master’s degree in this field.
            Through these pages, you’ll find a collection of my previous work, most of it centered on game development. I hope you enjoy exploring it and discover something that inspires you!
        </p>
    </div>
</div>
<div class="container text-center mt-4">
    <div class="speech-bubble">
        <p> 
            Oh! Would you like to know more? Well, I also enjoy lots of other things. I love playing sports, such as basketball or rollerblading. Similarly, I’m passionate about drawing and have been exploring 3D modeling and animation. You’re welcome to visit my <a class="nav-link" routerLink="/playground">“Playground”</a> too. I truly enjoy learning new things and taking on creative challenges!
        </p>
    </div>
</div>